* {margin: 0; padding: 0;}

h1 {
	color:#888;
	margin: 10px 10px;
	font: bold 20px/1.5 'Open Sans', Arial, sans-serif;
}

h2 {
	margin: 0px 5px;
	font: bold 17px/1.5 'Open Sans', Arial, sans-serif;
}

#navigation {
	margin: 10px;
}

#logo {
	background-color: #ceddd0;
	opacity: 0.8;
	margin: 1px;
	height: 74px;
	width: 74px;
}

#toolbar {
	background-color: #ceddd0;
	width: 682px;
	height: 57px;
	padding: 10px 10px;
}

#searchbox,
#navprev,
#navnext {
	float: left;
}

#logo,
#toolbar {
	float: left;
}

#searchtext,
#submit_search,
#submit_prev,
#submit_next {
	float: left;
}

#submit_prev[disabled],
#submit_next[disabled] {
	opacity:0.4;
}

#searchtext {
	padding: 20px 9px;
	height: 15px;
	width: 392px;
	border: 1px solid #988;
	font: normal 18px 'Open Sans', Arial, sans-serif;
	background: #11888;
}

#submit_search,
#submit_prev,
#submit_next,
#back {
	border-width: 1px;
	border-style: solid;
	border-color: #988;
	height: 57px;
	margin: 0 0 0 0;
	padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 16px 'Open Sans', Arial, sans-serif;
	background: #c9d6cb;
	color: #303030;
}

#submit_search:active,
#back:active {
	background: #988;
	outline: none;
}

#submit_search::-moz-focus-inner,
#back::-moz-focus-inner {
	border: 0;
}

#scheme
{
	width: 508px;
}

#querydescr
{
	margin: 22px 10px;
	display: table;
	clear: left;
	font: italic 16px 'Open Sans', Arial, sans-serif;
	color: #1f5426;
	width: 700px;
}
#querydescrpara
{
	margin: 22px 10px;
	display: table;
}

#searchinfo
{
	clear: left;
	margin: 0px 115px;
	font: normal 13px 'Open Sans', Arial, sans-serif;
}

#searcherror
{
	clear: left;
	margin: 0px 105px;
	font: italic 16px 'Open Sans', Arial, sans-serif;
}

#searchresult {
	margin: 20px 10px;
}

#relatedlist {
	margin: 20px 10px;
}

h3 {
	font: bold 14px/1.5 'Open Sans', Arial, sans-serif;
}

#relatedresult {
	margin: 15px 15px;
}

#relatedresult ul {
	border-style: solid;
	border-width: 1px;
	display: table;
	list-style-type: none;
	width: 92%;
}

#relatedresult li {
	display: inline;
	float: left;
	padding: 5px;
	overflow: auto;
	font: 12px/1.5 'Open Sans', Arial, sans-serif;
	color: #1f5426;
}

#nblinkresult {
	margin: 15px 15px;
}

#nblinkresult ul {
	border-style: solid;
	border-width: 1px;
	display: table;
	list-style-type: none;
	width: 92%;
}

#nblinkresult li {
	display: inline;
	float: left;
	padding: 5px;
	overflow: auto;
	font: 12px/1.5 'Open Sans', Arial, sans-serif;
	color: #1f3354;
}

#featureresult {
	margin: 15px 15px;
}

#featureresult ul {
	border-style: solid;
	border-width: 1px;
	display: table;
	list-style-type: none;
	width: 92%;
}

#featureresult li {
	display: inline;
	float: left;
	padding: 5px;
	overflow: auto;
	font: 12px/1.5 'Open Sans', Arial, sans-serif;
	color: #351f4f;
}

#related_weight, #nblink_weight, #featurelink_weight {
	display: none;
}

#searchresult {
	margin: 25px 15px;
	float: none;
	clear: left;
	display: block;
}

#searchresult ul {
	display: block;
	list-style-type: none;
	width: 92%;
}

li #rank_docno {
	margin: 0px 5px;
	width: 45px;
	float: left;
	color: #388;
	font: 200 11px/1.5 'Open Sans', Arial, sans-serif;
}

li #rank_weight {
	margin: 0px 5px;
	width: 45px;
	float: left;
	color: #388;
	font: 200 11px/1.5 'Open Sans', Arial, sans-serif;
}

li #rank_paratitle {
	margin: 0px 5px;
	clear: left;
	display: block;
	white-space: pre-line;
	color: #133;
	font: italic 11px/1.5 'Open Sans', Arial, sans-serif;
}

li #rank_abstract {
	margin: 0px 5px;
	clear: left;
	display: block;
	white-space: pre-line;
	color: #133;
	font: normal 13px/1.5 'Open Sans', Arial, sans-serif;
}

#rank_debuginfo {
	margin: 0px 5px;
	display: table;
	border-width: 1px;
	border-style: solid;
	border-color: #988;
	color: #133;
	font: normal 13px/1.5 'Courier, sans-serif;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: italic;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + pre {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + pre {
  display: block;
}

.toggle-box + label:before {
  background-color: #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
} 

li #rank_linkid {
	margin: 0px 5px;
	clear: left;
	font: bold 14px/1.5 'Open Sans', Arial, sans-serif;
}

li b {
	font: 12px/1.5 'Open Sans', Arial, sans-serif;
	color: blue;
}

li {
	padding: 5px;
	overflow: auto;
}

li:hover {
	background: #eee;
	cursor: pointer;
}


